*.sh
node_modules
*.md
*.woff
*.ttf
.vscode
.idea
dist
/public
/docs
.husky
.local
/bin
Dockerfile
.eslintrc.js

/src/components
/src/hooks
/src/router
/src/jsbridge
/src/store
/src/utils/http
/src/utils/domUtils.ts
/src/utils/helper.ts
/src/utils/index.ts
/src/vite-env.d.ts
